<html>
<script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog_style.css') }}">

	{% include "blogs/blog_head.html" %}
	{% include "google_analytics.html" %}

<h1>{{ blogContent['title'] }}</h1>

<body>
<div id="undertitle">by <a href="http://williamjeffreyharding.com">{{ blogContent['author']  }}</a> {{ blogContent['date'] }}</div>

<container></container>
<a href="https://twitter.com/share?via=BillmanH;url={{ request.url_rule  }}{{ article | safe }}"
	class="twitter-share-button" 
	>Tweet</a>


	{% for item in blogContent['content'] %}
		{% if item['type'] == "h1" %}
			<h2>{{ item['n'] }}</h2>
		{% endif %}

                {% if item['type'] == "p" %}
                        <p>{{ item['n'] }}</p>
                {% endif %}

		{% if item['type'] == "script" %}
			{% include "blogs/scripts/2yearsOfFinancialData.html" %}
		{% endif %}

                {% if item['type'] == "href" %}
                      <a class="linkButton" href="{{ item['link'] }}">{{ item['t']}}</a> 
                {% endif %}

                {% if item['type'] == "code" %}
                      <code>{{ item['n'] }}</code>
                {% endif %}

                {% if item['type'] == "list" %}
			<ol>
	                {% for entry in item['l'] %}
			<li>{{ entry }}</li>
			{% endfor %}
			</ol>

                {% endif %}

	{% endfor %}

	
	{% include "blogs/blog_business_card.html" %}
</body>
<script>

	var article = {{blogContent | safe}};
	//if(article==null){article = "default"}
	//var cotent = {{blogContent | safe}};

</script>

</html>
