<head>
<script type="text/javascript" src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog_style.css') }}">

	{% include "google_analytics.html" %}

</head>
	{% include "/blogs/topicmodel/tmstyle.html" %}
<body>

<script>
var words = {{ d|tojson|safe }}
var topwords = {{ tw|tojson|safe }}
var topdocs = {{ td|tojson|safe }}
</script>

<div id="topwordsviz"></div>
<div id="topdocsviz"></div>

	{% include "/blogs/topicmodel/wordcloud.html" %}

</body>
